# ---------------------------------------------------------------------------
# URBSTAT Configuration File
#
# - The configuration file is optional. If it is not present, hardcoded
#   default values are used.
#
# - You can use [this example file](https://raw.githubusercontent.com/bartmichu/urbstat/main/urbstat.conf.example)
#   as a baseline for your configuration file.
#
# - Ensure the configuration file is named "urbstat.conf" and is located in
#   the same directory as the downloaded binary file.
#
# - If you are not using the default installation (localhost:55414, admin, no
#   password), you must set URBSTAT_SERVER_URL, URBSTAT_SERVER_USERNAME,
#   and URBSTAT_SERVER_PASSWORD in the configuration file.
#   Alternatively, the server URL can be passed using the --url option, the
#   username with the --user option, and the password can be specified
#   interactively at runtime when the --ask-pass option is provided.
#   For details, see: "urbstat --help".
#
# - Many settings can also be adjusted at runtime through command-line
#   options. For more information, please refer to
#   "urbstat <command> --help".
#
# - Some defaults are hard-coded as a safety measure in case they are missing
#   from this configuration file. Values provided in the configuration file
#   will override the hard-coded defaults.
#
# - Make sure configuration file has strict file permissions if you put your
#   password in it.
#
# ---------------------------------------------------------------------------

URBSTAT_SERVER_URL="http://127.0.0.1:55414"
URBSTAT_SERVER_USERNAME="admin"
URBSTAT_SERVER_PASSWORD=""

## Time thresholds in minutes
URBSTAT_CLIENTS_THRESHOLD_STALE=7200
URBSTAT_CLIENTS_THRESHOLD_UNSEEN=10080

URBSTAT_LOCALE="en"

## Output format options for clients: table, list, number, raw
URBSTAT_CLIENTS_FORMAT="table"

## Sorting options for clients: name, seen, file, image
URBSTAT_CLIENTS_SORT="name"

## Output format options for activities: table, list, number, raw
URBSTAT_ACTIVITIES_FORMAT="table"

## Sorting options for current activities: client, eta, progress, size
URBSTAT_ACTIVITIES_SORT_CURRENT="client"

## Sorting options for last activities: client, time, duration, size
URBSTAT_ACTIVITIES_SORT_LAST="time"

## Output format options for usage: table, list, number, raw
URBSTAT_USAGE_FORMAT="table"

## Sorting options for usage: name, file, image, total
URBSTAT_USAGE_SORT="name"

## Output format options for client details: table, raw
URBSTAT_CLIENT_FORMAT="table"

## Sorting options for users: name, id
URBSTAT_USERS_SORT="name"

## Output format options for users: table, list, number, raw
URBSTAT_USERS_FORMAT="table"

## Sorting options for groups: name, id
URBSTAT_GROUPS_SORT="name"

## Output format options for groups: table, list, number, raw
URBSTAT_GROUPS_FORMAT="table"
